<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="-transaccion-cambista-cd-heading" jhiTranslate="cambistaDigitalApp.transaccionCambista.home.createOrEditLabel">Create or edit a Transaccion Cambista</h2>
            <div>
                <-alert-error></-alert-error>
                <div class="form-group" [hidden]="!transaccionCambista.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="transaccionCambista.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cambistaDigitalApp.transaccionCambista.impuesto" for="field_impuesto">Impuesto</label>
                    <input type="number" class="form-control" name="impuesto" id="field_impuesto"
                        [(ngModel)]="transaccionCambista.impuesto" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cambistaDigitalApp.transaccionCambista.estado" for="field_estado">Estado</label>
                    <input type="text" class="form-control" name="estado" id="field_estado"
                        [(ngModel)]="transaccionCambista.estado" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cambistaDigitalApp.transaccionCambista.fecha" for="field_fecha">Fecha</label>
                    <div class="input-group">
                        <input id="field_fecha" type="text" class="form-control" name="fecha" ngbDatepicker  #fechaDp="ngbDatepicker" [(ngModel)]="transaccionCambista.fecha"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="fechaDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cambistaDigitalApp.transaccionCambista.transaccionPersona" for="field_transaccionPersona">Transaccion Persona</label>
                    <select class="form-control" id="field_transaccionPersona" name="transaccionPersona" [(ngModel)]="transaccionCambista.transaccionPersona">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="transaccionPersonaOption.id === transaccionCambista.transaccionPersona?.id ? transaccionCambista.transaccionPersona : transaccionPersonaOption" *ngFor="let transaccionPersonaOption of transaccionpersonas; trackBy: trackTransaccionPersonaById">{{transaccionPersonaOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cambistaDigitalApp.transaccionCambista.idDepositoCambista" for="field_idDepositoCambista">Id Deposito Cambista</label>
                    <select class="form-control" id="field_idDepositoCambista" name="idDepositoCambista" [(ngModel)]="transaccionCambista.idDepositoCambista">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="depositoCambistaOption.id === transaccionCambista.idDepositoCambista?.id ? transaccionCambista.idDepositoCambista : depositoCambistaOption" *ngFor="let depositoCambistaOption of iddepositocambistas; trackBy: trackDepositoCambistaById">{{depositoCambistaOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
