<div>
    <h2 id="page-heading">
        <span jhiTranslate="cambistaDigitalApp.tipoCambioVariacion.home.title">Tipo Cambio Variacions</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-tipo-cambio-variacion-cd" [routerLink]="['/tipo-cambio-variacion-cd/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="cambistaDigitalApp.tipoCambioVariacion.home.createLabel">
            Create new Tipo Cambio Variacion
            </span>
        </button>
    </h2>
    <-alert></-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'cambistaDigitalApp.tipoCambioVariacion.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="tipoCambioVariacions">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="cambistaDigitalApp.tipoCambioVariacion.variacionMonto">Variacion Monto</span></th>
            <th><span jhiTranslate="cambistaDigitalApp.tipoCambioVariacion.variacionPorcentaje">Variacion Porcentaje</span></th>
            <th><span jhiTranslate="cambistaDigitalApp.tipoCambioVariacion.estado">Estado</span></th>
            <th><span jhiTranslate="cambistaDigitalApp.tipoCambioVariacion.tipoCambio">Tipo Cambio</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let tipoCambioVariacion of tipoCambioVariacions ;trackBy: trackId">
                <td><a [routerLink]="['/tipo-cambio-variacion-cd', tipoCambioVariacion.id, 'view' ]">{{tipoCambioVariacion.id}}</a></td>
                <td>{{tipoCambioVariacion.variacionMonto}}</td>
                <td>{{tipoCambioVariacion.variacionPorcentaje}}</td>
                <td>{{tipoCambioVariacion.estado}}</td>
                <td>
                    <div *ngIf="tipoCambioVariacion.tipoCambio">
                        <a [routerLink]="['../tipo-cambio-cd', tipoCambioVariacion.tipoCambio?.id, 'view' ]" >{{tipoCambioVariacion.tipoCambio?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/tipo-cambio-variacion-cd', tipoCambioVariacion.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/tipo-cambio-variacion-cd', tipoCambioVariacion.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'tipo-cambio-variacion-cd', { outlets: { popup: tipoCambioVariacion.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
