<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="-usuario-rol-cd-heading" jhiTranslate="cambistaDigitalApp.usuarioRol.home.createOrEditLabel">Create or edit a Usuario Rol</h2>
            <div>
                <-alert-error></-alert-error>
                <div class="form-group" [hidden]="!usuarioRol.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="usuarioRol.id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cambistaDigitalApp.usuarioRol.usuario" for="field_usuario">Usuario</label>
                    <select class="form-control" id="field_usuario" name="usuario" [(ngModel)]="usuarioRol.usuario">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="usuarioOption.id === usuarioRol.usuario?.id ? usuarioRol.usuario : usuarioOption" *ngFor="let usuarioOption of usuarios; trackBy: trackUsuarioById">{{usuarioOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cambistaDigitalApp.usuarioRol.rol" for="field_rol">Rol</label>
                    <select class="form-control" id="field_rol" name="rol" [(ngModel)]="usuarioRol.rol">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="rolOption.id === usuarioRol.rol?.id ? usuarioRol.rol : rolOption" *ngFor="let rolOption of rols; trackBy: trackRolById">{{rolOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cambistaDigitalApp.usuarioRol.permiso" for="field_permiso">Permiso</label>
                    <select class="form-control" id="field_permiso" name="permiso" [(ngModel)]="usuarioRol.permiso">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="permisoOption.id === usuarioRol.permiso?.id ? usuarioRol.permiso : permisoOption" *ngFor="let permisoOption of permisos; trackBy: trackPermisoById">{{permisoOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
